<div class="preloader-wrapper">
    <div class="preloader">
        <img src="/lighthouse-node/images/preloader.gif" alt="NILA">
    </div>
</div>
<div class="s130">
  <form action="/lighthouse-node/get-analysis" method="POST">
    <span style="color: grey;">Input the URL of the site with http/https</span><br><br>
    <div class="inner-form">
      <div class="input-field first-wrap">
        <div class="svg-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
          </svg>
        </div>
        <textarea id="search" name="url" type="text" placeholder="URL" required></textarea>
      </div>
      <div class="input-field second-wrap">
        <button class="btn-search" id="get_data" type="submit">GET DATA</button>
      </div>
    </div>
    <div class="ready-report" style="margin-left: -100px;">
        {{#if mobile}}
            <a download class="lh-permalink" href="{{ mobile }}">Mobile Report</a><br>
        {{/if}}
        {{#if desktop}}
            <a download class="lh-permalink" href="{{ desktop }}">Desktop Report</a>
        {{/if}}
    </div>
  </form>
</div>